p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

body{
  font-family: Helvetica;
}

pre {
  word-break: normal;
  word-wrap: normal;
  max-width: 100%;
}

.Rchunk {
  background-color: #dadaeb !important;
  colour: black !important;
}

.Rout {
  background-color: #f2f2f2 !important;
  colour: black !important;
}

pre code {
  white-space: inherit;
}

h1 {
  color: purple;
}

h2 {
  color: purple;
}

h3 {
  color: purple;
}

h4 {
  color: purple;
}

.yellowbox {
  padding: 1em;
  background: #ffffcc;
  color: black;
  border-radius: 10px;
}